body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F5F5F5;
}

.nothingToShow{
    font-size:35px;
    color: #000;
}

blockquote{
    white-space:normal; 
    overflow:initial;
    word-wrap:break-word;
}

#notificationHeader{
    color:#4FC3F7;
    text-shadow: 1.5px 1.5px 1.5px #333;
    font-size:80px;
}

#notificationLink{
    font-size: 17px; 
}
.divWhiteBackground{
    background-color:#fff;
}

.ui-datepicker-trigger{
    background-color:#337ab7;
    color:#fff;
    border-radius:5px;
    border-color:#337ab7;
    
}
.grayBackground{
    background-color:#f5f5f5;
}
 .btnSearch{
     background-color:#fff; 
     color:#000;
 }
 #friendListHeader{
     color:#4FC3F7;
     font-size:80px;
     text-shadow:1.5px 1.5px 1.5px #333;
 }
.divFriendList{
    background-color:#fff;
} 
.divFriendContent{
    background-color:#fff;
    margin: 20px 5px 5px 20px;
}
.divFriendContent:hover{
    background-color:#4FC3F7;
    color:#fff;
    margin: 20px 5px 5px 20px;
}
.divUserContent{
    background-color:#fff;
    margin: 20px 5px 5px 20px;
}
.divUserContent:hover{
    background-color:#4FC3F7;
    color:#fff;
    margin: 20px 5px 5px 20px;
}

.divFriendInnerContent{ 
    padding-left:3px;
    padding-right:3px;
}
#btnViewProfile{
    margin-bottom:5px;
}
#imgFriendList{
    min-height:70px;
    max-width:70px;
    width:70px;
    margin-left:102px; 
    object-fit:cover;
    margin-top:10px;
    border:4px solid #fff; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.infoTextSize{
    font-size:18px;
    margin-left:65px;
}

.redText{
    background-color:#f44336;
}

.navbar-inverse .navbar-brand{
    color: #ffffff;
    font-size:25px;
}
#imgNavBar{
    border-radius:7px;
    margin-top:5px;
    margin-left:10px;
    min-height:40px;
    object-fit:cover;
    height:auto;
    width: 40px;
    border:3px solid #ffffff;
}
.navbar-toggle {
    z-index:3;
}
 .navbarRound{
     background-color:#ffffff; 

 }
 .divShadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
 .navbarIcon{
     margin-right:25px;
 }
.navbar-inverse .navbar-nav > li > a{
    color:#ffffff;
    font-size:17px;
}

.navbar{
    background-color:#4FC3F7;
    border:none;
    margin-bottom:20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.errorModalHeader{
    background-color:#c9302c;
    color:#fff;
}
.modalLikeBody{
    background-color:#f5f5f5;
    border-radius:0px 0px 5px 5px;
    padding: 8px;
}
.likeContent{  
    background-color:#ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:5px 5px 5px 5px;
    margin-bottom:8px;
}

.friendRequestContent{
    background-color:#fff; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:5px 5px 5px 5px;
    margin-bottom:5px;
    margin-left:4px;
    margin-right:4px; 
    padding:5px 10px;
}
.friendRequestContentSeen{
    background-color:#f5f5f5; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:5px 5px 5px 5px;
    margin-bottom:5px;
    margin-left:4px;
    margin-right:4px; 
    padding:5px 10px;
}
.divPaddingTop{
    margin-top:30px;
}
.notificationContent{
    background-color:#fff; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:5px 5px 5px 5px;
    margin-bottom:5px;
    margin-left:4px;
    margin-right:4px; 
}
.notificationContent > a:hover{
    background-color:#4FC3F7; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:5px 5px 5px 5px;
    margin-bottom:5px;
    margin-left:4px;
    margin-right:4px; 
}
.img-like{ 
    max-width:45px;
    object-fit:cover;
    min-height:45px;
    margin:5px;
    width:45px;
    height:auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.content-inner{
    margin-right:33px; 
}
.img-notification{
    
    min-height:35px;
    max-width:35px; 
    object-fit:cover;
    width:35px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-right:2px;
}

.notificationContentSeen{
    background-color:#f5f5f5; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:5px 5px 5px 5px;
    margin-bottom:5px;
    margin-left:4px;
    margin-right:4px; 
}
.notificationContentSeen > a:hover{
    background-color:#f5f5f5; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:5px 5px 5px 5px;
    margin-bottom:5px;
    margin-left:4px;
    margin-right:4px; 
}

#dropdownNotification{
    background-color:#f5f5f5;
    border-radius:10px;
    height:auto;
    max-height:350px;
    overflow-x:hidden;
}

#dropdownFriend{
    background-color:#f5f5f5;
    border-radius:10px;
    height:auto;
    max-height:350px;
    width:20%;
    overflow-x:hidden;
    min-width:200px;
}

.commentAreaPost{ 
    resize:none;
    max-width:100%; 
}
.commentPostButton{
    margin-top:5px;
    margin-bottom:0;
}
.commentContent{
    font-size:16px;
    overflow:initial;
    word-wrap:break-word;
}
.commentText{
    font-size:14px;
}
.commentDisplay{
    border-radius:5px;
    margin:2px 5px 3px 5px;
    padding:8px;
    background-color:#f5f5f5;
}
#commentTop{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:5px;
    margin:5px;
    padding:8px;
    background-color:#f5f5f5;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.rowPost{
    padding-top: 20px;
}
.rowPadding{
    padding:20px 10px 10px 10px;
}



.rowProfilePadding{
    margin-top:15px;    
    margin-left:0px;
    margin-right:10px;
}
.rowLeftProfilePadding{ 
    margin-top:15px;
    margin-left:10px;
    margin-right:0px;
}
.profileHeaderDetails{
    margin-bottom:0px;
}
.postPosterName{
    word-wrap:break-word;
}
.containerLikeName{
    width:180px;
    font-size:17px;
}
.containerEllipsis{
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis; 
}
.containerWordWrap{ 
    white-space:normal;
    overflow:initial;
    word-wrap:break-word;
}
#headerProfileInfo{
    margin-top:6%;
    
}

#headerProfile{
    height:260px; 
}

#userHomeDetails{
    height:170px;
   
}
.divColorBlue{
    background-color:#4FC3F7;
}
.divPost{
    border-radius:6px;
    padding:3px 10px 3px 10px;
    background-color:#ffffff;
}
.divInsideRadius{
    border-radius: 6px 6px 0px 0px;
    height:90px;
    padding-top:7px;
} 
.userNameHome{
    font-size:20px;
}

.img-circle {
    border:3px solid #ffffff;
}
#imgHome{
    width:130px;
    height:auto;
}
.img-comment{
    margin:0px 0px 0px 8px;
    max-width:38px;
    object-fit:cover;
    min-height:38px;
    width:38px;
    height:auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.img-post{
    margin:5px 0px 0px 8px;
    width:45px;
    max-width:45px;
    object-fit:cover;
    min-height:45px;
    height:auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#ImgProfile{ 
    width :160px;
    height:auto;
    max-width:160px;
    min-height:160px;
    margin-top:40px;
    margin-left:9%;
    margin-right:9%;
    display:block;  
    object-fit:cover;
}
 .grayText{
     color: #9E9E9E;
 }

.divBorderRadius{ 
    border-radius:6px;  
} 
#headerFullName{
    font-size:40px; 
    font-weight:bold; 
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis; 
}
#headerUserName{
    margin-top:0;
    font-size:20px;
    font-weight:bold;
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis; 
}

 
.fileUpload { 
    position: relative;
    overflow: hidden;
    margin: 10px;  
    background:none;
    border:3px solid #fff;
    font-size:18px;

}

.fileUpload:hover{
    position: relative;
    overflow: hidden;
    margin: 10px;  
    background:none;
    border:3px solid #fff;
    font-size:18px;
    color:#4FC3F7;
    background-color:#fff;
}
.fileUpload:active{
    position: relative;
    overflow: hidden;
    margin: 10px;  
    background:none;
    border:3px solid #fff;
    font-size:18px;
    color:#4FC3F7;
    background-color:#fff;
}
.fileUpload:focus   {
    position: relative;
    overflow: hidden;
    margin: 10px;  
    background:none;
    border:3px solid #fff;
    font-size:18px;
    color:#4FC3F7;
    background-color:#fff;
}
 
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#editAboutMe{ 
    margin:5px 5px;
    font-size:20px;
    margin-top:5px;
    border:3px solid #1976D2;
    border-radius:15px;
}
 
 #divNameFriendList{
     text-overflow:ellipsis; 
     overflow:hidden;
     padding-right:17px;
     padding-left:17px;

 }


hr{
    margin-top:5px;
    margin-bottom:5px;
}
#btnSaveAboutMe{
    margin-top:10px; 
}
#btnLeftProfile{
    margin-top:5px;
    border:3px solid #1976D2;
    border-radius:15px;
}
#aboutMeTextarea{ 
    resize:none;
    max-width:100%;
}
#btnAddFriend{ 
    background-color:transparent;
    margin-right:10px;
    font-weight:bold;
    font-size:18px;
    border:3px solid #fff;
}
#btnAddFriend:hover{
     color:#4FC3F7;
     background-color:#fff;
     border:3px solid #fff;
}
#btnAddFriend:hover:focus{
     color:#4FC3F7;
     background-color:#fff;
     border:3px solid #fff;
}
#btnAddFriend:focus{
    color:#fff;
}



.homeLeftDiv{
    padding-left: 0px;
    padding-right:0px;
    background-color:#ffffff;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
 
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#textAreaPost{
    resize:none;
    max-width:100%;
}


.blueText{
    color:#1976D2;
}

 

.postButton{
    font-size:20px;
    color:#9E9E9E; 
    outline:none; 
} 
.postButton:hover{
    color:#1976D2;
}

.postBlueButton{
    color:#1976D2;
}


.asText{
    background:none;
    border:none;
    margin:0;  
    margin-right:10px;
}

.postTextColor{
    color:#424242;
}


.whiteText{
    color:#ffffff;
}

#searchUserHeader{
    color:#4FC3F7;
    text-shadow:1.5px 1.5px 1.5px #333;
    font-size:60px;
}

#searchTextBox{
    border-radius:50px 0px 0px 50px;
}
#searchBtn{
    border-radius:0px 50px 50px 0px;
}
#searchBtn:hover{
    background-color:#1976D2;
    color:#fff;
    border-radius:0px 50px 50px 0px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #4FC3F7;
    background-color: #fff;
}
#welcomeHeader{
    font-size:50px;
}
#welcomeHeaderContainer{
    background-color:#4FC3F7;
}
 .lightBlueText{
     color:#4FC3F7;
 }