body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#4FC3F7;
}
.navbar-inverse .navbar-brand {
    color: #4FC3F7;
    font-weight:bold;
    font-size:20px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #4FC3F7;
    background-color: transparent;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.ui-datepicker-trigger{
    background-color:#337ab7;
    color:#fff;
    border-radius:5px;
    border-color:#337ab7;
    
}
.dl-horizontal dt {
    white-space: normal;
}

#TextPanelHeader {
    margin-left:40%;
}

.containerView{
    margin-top:30px;
    background-color:white;
    padding: 15px;
    border-radius:6px;
}

.redText{
    color:#d50000;
}
.asteriskSize{ 
    font-size:20px;
}

.divShadow{    
    border-radius:6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.rowLoginContainer{
    margin: 2px;
}
.navbar{
    background-color:#ffffff;
    border:none;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.formSignup{
    margin-bottom:10px;
}
.btn{
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.control-label{
    color:#757575;
}

.blueText{
    color:#1976D2;
}
.grayText{
    color:#757575;
}
.divHeader{
    margin-left :30%;
}
.btnMain {
    height:50px;
} 
.wide{
    max-width:100%; 
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
