@model IEnumerable<PastebookDataLibrary.COMMENT>

@foreach (var comment in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div id="commentTop">
                asdasdasdasd
            </div>
        </div>
    </div>
}
